*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container-fluid{
    width:100%;
    margin:0;
}

.row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
/*
[class*="col-"]{
    background-color: rgb(49, 123, 169);
    color:white;
    border:1px solid white;
    text-align: center;
    padding:0.80rem;
    font-size:0.90rem;
    height:calc((100% / 12) * 1);
} */

/*COL*/

.col-1{
    flex-basis: calc((100% / 12) * 1);
}
.col-2{
    flex-basis: calc((100% / 12) * 2);
}
.col-3{
    flex-basis: calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
}
.col-5{
    flex-basis: calc((100% / 12) * 5);
}
.col-6{
    flex-basis: calc((100% / 12) * 6);
}
.col-7{
    flex-basis: calc((100% / 12) * 7);
}
.col-8{
    flex-basis: calc((100% / 12) * 8);
}
.col-9{
    flex-basis: calc((100% / 12) * 9);
}
.col-10{
    flex-basis: calc((100% / 12) * 10);
}
.col-11{
    flex-basis: calc((100% / 12) * 11);
}
.col-12{
    flex-basis: calc((100% / 12) * 12);
}


/*OFFSETS*/
.offset-12{
    margin-left: calc((100% / 12) * 12);
    height:1.5rem;
}

.offset-11{
    margin-left: calc((100% / 12) * 11);
    height:1.5rem;
}

.offset-10{
    margin-left: calc((100% / 12) * 10);
    height:1.5rem;
}

.offset-9{
    margin-left: calc((100% / 12) * 9);
    height:1.5rem;
}

.offset-8{
    margin-left: calc((100% / 12) * 8);
    height:1.5rem;
}

.offset-7{
    margin-left: calc((100% / 12) * 7);
    height:1.5rem;
}

.offset-6{
    margin-left: calc((100% / 12) * 6);
    height:1.5rem;
}

.offset-5{
    margin-left: calc((100% / 12) * 5);
    height:1.5rem;
}

.offset-4{
    margin-left: calc((100% / 12) * 4);
    height:1.5rem;
}

.offset-3{
    margin-left: calc((100% / 12) * 3);
    height:1.5rem;
}

.offset-2{
    margin-left: calc((100% / 12) * 2);
    height:1.5rem;
}

.offset-1{
    margin-left: calc((100% / 12) * 1);
    height:1.5rem;
}


/*UTILITIES*/

.bold{
    font-weight: bold;
}

.centered{
    justify-content: center;
}

.display-none{
    display:none;
}