*{
    transition: all 0.30s ease;
}

.navbar{
    background-color:#2C3E50;
}

.section-one img{
    height:10rem;
    width:10rem;
}

.section-one,
.section-three
{
    background-color: #1ABC9C;
}

.section-three .container-0auto{
    width:70%;
}

.section-three p{
    text-align: left;
}

.line{
    width:1rem;
    height:0.20rem;
    background-color: white;
    color:white;
    border-radius:25px;
    align-self: center;
}

.section-two .line,
.section-four .line{
    background-color: #333333;
}

.section-four .container-0auto{
    width:60%;
}
footer{
    background-color:#3A546D;
}
footer h3{
    font-size:1rem;
}
footer li{
    list-style:none;
    width:2.5rem;
    height:2.5rem;
    border:1px solid white;
    border-radius:50%;
}
.below-footer{
    background-color: #2C3E50;
}