body{
    background-color:white;
}

header .row{
    background-color:#2C3E50;
    color:white;
    font-size:1.5rem;
    align-items: center;
    justify-content: space-between;
    height:10vh;
    padding-right: 2.5rem;
}

.container-0auto{
    line-height:3rem;
    width:80%;
    height:95%;
    margin:0 auto;
    padding-top:2rem;
    margin-bottom:2rem;
    background-color: pink;
    color:white;
    text-align:center;
    justify-content: center;
}

.section-one,
.section-three
{
    background-color: #1ABC9C;
    height:50vh;
    width:100%;
}

.section-one h2{
    margin-top:1.5rem;
    color:whitesmoke;

}

.download{
    padding:0.50rem 0.70rem;
    font-size:0.90rem;
    border:2px dashed whitesmoke;
}
.line{
    width:1rem;
    height:0.20rem;
    background-color: white;
    color:white;
    border-radius:25px;
    align-self: center;
}

.fa-star{
    font-size:1.3rem;
}
.b-radius{
    width:100%;
}
.b-radius img{
    text-align:center;
    width:12rem;
    height:12rem;
    border-radius:50%;
    object-fit: cover;
}


/*section two*/

.section-two .container-0auto{
    width:95%;
}

.section-two h2{
    color:black;
}

.section-two .line,
.section-four .line{
    background-color: #333333;
}

.section-two .col-12{
    width:22rem;
    height:20rem;
    margin-bottom:2rem;
}
.section-two img{
    object-fit:cover;
    width:100%;
    height:100%;
    border-radius:20px;
}

/*section three*/
.section-three .container-0auto{
    width:70%;
}

.section-three p{
    text-align: left;
    font-size:0.80rem;
    line-height: 2rem;
}

/*section four*/

.section-four{
    width:100%;
    height:50vh;
    background-color: yellowgreen;
}

.section-four h2{
    text-align: center;
}

.section-four .container-0auto{
    width:70%;
    height:85%;
    color:#333333;
    text-align:left;
    border-bottom:1px solid #747373; 
}
.section-four p:not(:last-of-type) {
    border-bottom:1px solid #747373; 
}

.send{
    position:relative;
    left:15%;
    bottom:5%;
    background-color: #1ABC9C;
    color:white;
    padding:0.10rem 0.50rem;
    text-align: center;
    width:5rem;
    border-radius:10px;

}


/*responsiveness for tablet*/

@media screen and (min-width:768px) {
    .section-two .container-0auto{
        width:90%;
    }

    header .row{
        font-size:1rem;
        text-align: center;
    }
    header{
        justify-content: space-around;
    }

    .display-none{
        display:block;
    }

    .block{
        display:none;
    }

    .section-two .col-12{
        width:20rem;
        height:16rem;
        margin-bottom:2rem;
    }

    .section-three{
        height:42vh;
        width:100%;
    }
    .section-three .container-0auto{
        width:65%;
        padding-right:1rem;
    }

    .section-four .container-0auto{
        width:60%; 
    }

    .send{
        position:relative;
        left:20%;
        bottom:5%;
    }
}


/*responsiveness for desktop*/
@media screen and (min-width:992px){
    .section-two .container-0auto{
        width:75%;
    }

    .section-two .col-12{
        width:20rem;
        height:12rem;
        margin-bottom:2rem;
    }

    .section-three{
        height:40vh;
        width:100%;
    }

    .section-four{
        width:100%;
        height:70vh;
        background-color: yellowgreen;
    }

    .send{
        bottom:3%;
    }

    
}