*{
    transition: all 0.50s ease;
}

header{
    width:100%;
    background-color:#2C3E50;
}

.section-one img{
    height:10rem;
    width:10rem;
}

.section-one,
.section-three
{
    background-color: #1ABC9C;
    width:100%;
}
.section-three{
    overflow:scroll;
}
.section-three .container-0auto{
    width:70%;
}

.section-three p{
    text-align: left;
    font-size:0.80rem;
    line-height: 2rem;
}

.line{
    width:1rem;
    height:0.20rem;
    background-color: white;
    color:white;
    border-radius:25px;
    align-self: center;
}

.section-two .line,
.section-four .line{
    background-color: #333333;
}